.onNewGame {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px #af8227a2;
  background-color: rgba(0, 0, 0, 0.748);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 400px;

  .inputs {
    display: flex;
    flex-direction: column;

    #NickNameInput {
      box-shadow: 0px 0px 4px 4px #af8227bc;
      background-color: rgba(0, 0, 0, 0.615);
      border-radius: 5px;
      border: none;
      color:#af8227bc;
      font-size: large;
      margin-top: 20px;
      display: flex;
      align-self: center;
      width: 80%;
      height: 50px;
    }

    #GameNameInput {
      box-shadow: 0px 0px 4px 4px #af8227bc;
      background-color: rgba(0, 0, 0, 0.615);
      border-radius: 5px;
      border: none;
      color:#af8227bc;
      font-size: large;
      margin-top: 20px;
      display: flex;
      align-self: center;
      width: 80%;
      height: 50px;
    }

    #PasswordInput {
      box-shadow: 0px 0px 4px 4px #af8227bc;
      background-color: rgba(0, 0, 0, 0.615);
      border-radius: 5px;
      border: none;
      color:#af8227bc;
      font-size: large;
      margin-top: 20px;
      display: flex;
      align-self: center;
      width: 80%;
      height: 50px;
    }
  }

  .buttons {
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
    button {
      cursor: pointer;
      padding: 1rem ;
      border-radius: 3px;
      box-shadow: 0px 0px 4px 4px #af8227bc;
      background-color: rgba(0, 0, 0, 0.615);
      color: #af8227bc ;
      font-size: large;
      border: none;
    }
    button:hover{
      transform: scale(1.02);
    }
  }
}
