.reborn{
    margin-right: 700px;
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: auto;
    width: auto;
  
}
.pieceToReborn{
    display: flex;
    flex-direction: column;
   
}